# For Loop
## Introductin to for loops ##

For loops are for iterating over a collection (list or tuple) or an iteration. The standard syntax for a for loop is:

```python
for value in collection:
    do something with value
```

#### Topics to be covered:
* 1 - For loop
  * 1.1 - Looping through a list
  * 1.2 - Looping through a string
  * 1.3 - Looping using a range
  * 1.4 - Loop break
  * 1.5 - Loop continue
* 2 - Loop with condtions
* 3 - Loop through a dictionary
* 4 - Nested loops 
  * 4.1 - Nested loops with conditions
  * 4.2 - Build multiplication table

# 1 - For loop
## 1.1 - Looping through a list

Prints each element in the list

In [8]:
countries = ["Portugal", "Spain", "France", "Germany"]
for i in countries:
    print(i)

Portugal
Spain
France
Germany

## 1.2 - Looping through a string

Iterates over each character in the string

In [9]:
word = "Python"
for letter in word:
    print(letter)

P
y
t
h
o
n

## 1.3 - Looping using a range
Prints numbers from 0 to 5.

In [11]:
for i in range(5):
    print(i)

0
1
2
3
4

In [13]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

## 1.4 - Loop break

In [31]:
for i in range(10):
    if i == 5:
        break
    print(i)

print("Loop ended")

0
1
2
3
4
Loop ended

## 1.5 - Loop continue

In [30]:
for i in range(6):
    #if i == 3:  # exclude value 3
    #if i in (1, 3):  # exclude values 1 and 3
    if 2 <= i <= 4:   # exclude value range
        continue
    print(i)

0
1
5

# 2 - Loop with condtions

Bellow example distinguishes between even and odd examples

In [15]:
# bellow range goes from 1 to 10
for i in range(1, 11):
    if i % 2 ==0:
        print(f"{i} is even")
    else:
        print(f"{i} is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

# 3 - Loop through a dictionary

In [18]:
person = {
    "name": "Ruben", 
    "age": 30, 
    "city": "Frankfurt"
}

for key, value in person.items():
    print(f"{key}: {value}")

name: Ruben
age: 30
city: Frankfurt

# 4 - Nested loops 

Prints all combinations of x and y.

In [19]:
for x in range(1, 4):
    for y in range(1, 4):
        print(f"x={x}, y={y}")

x=1, y=1
x=1, y=2
x=1, y=3
x=2, y=1
x=2, y=2
x=2, y=3
x=3, y=1
x=3, y=2
x=3, y=3

## 4.1 - Nested loops with conditions

In [34]:
for x in range(1, 4):
    for y in range(1, 4):
        if y > x:
            break
        print((x, y))

(1, 1)
(2, 1)
(2, 2)
(3, 1)
(3, 2)
(3, 3)